<!--
	作者：周心昕
	时间：2019-11-12
	描述：申请管理-城管验收
-->
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>占道挖掘审批管理系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=yes" />
    <link rel="stylesheet" href="${Session.BASE_URL}css/mui.css" />
    <link rel="stylesheet" href="${Session.BASE_URL}css/mui.min.css" />
    <link rel="stylesheet" href="${Session.BASE_URL}css/mui.picker.css" />
    <link rel="stylesheet" href="${Session.BASE_URL}css/mui.poppicker.css" />
    <link rel="stylesheet" type="text/css" href="${Session.BASE_URL}css/public-jinhuo.css"/>
    <link rel="stylesheet" type="text/css" href="${Session.BASE_URL}css/img.css"/>

</head>
<style>
    * {touch-action: pan-y;} /*解决移动端点击事件延迟 */
    /*.showfile{*/
    /*    width: 100%;*/
    /*    !* height: 110px; *!*/
    /*    border: 1px dashed #c9c9c9;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*}*/
    /*.showfile img{*/

    /*    width: 100%;*/
    /*}*/


    .mui-radio input[type=radio]:before{
        font-size: 20px;
    }
    label{
        font-size: 13px;
    }
    .mui-content{
        background-color: #fff;
    }
    input{
        font-size: 15px;
        background-color: #EEEEEE;
        border-bottom: 1px solid #000;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        width: 30px;
    }
    .mui-h5{
        margin:auto;
        margin-left:155px ;
        background-color:#eee;
        font-size: 14px;
        color: #999999;
        width: 120px;
    }
    .mui-h5 select option{
        font-size: 15px;
    }
    #startTime , #endTime{
        background-color: #FFFFFF;
        width: 100px;
    }
    #startTime{
        margin-left: 83px;
    }
    #wjmj{
        font-size: 15px;
    }
</style>

<body>
<!--标题-->
<header class="mui-bar mui-bar-nav bg-color-white">
    <a class="mui-action-back mui-icon mui-icon-left-nav"></a>
    <h1 class="mui-title">施工验收</h1>
</header>

<!--内容	-->
<div class="mui-content">
    <!--数据列表-->
    <div class="mui-input-row" style="border-bottom: solid 1px #EFEFF4">
        <label>申请单位</label>
        <a id="applycompany"></a>
    </div>
    <div class="mui-input-row" style="border-bottom: solid 1px #EFEFF4">
        <label>单位负责人</label>
        <a id="applycharge" ></a>
    </div>
    <div class="mui-input-row" style="border-bottom: solid 1px #EFEFF4">
        <label>负责人联系电话</label>
        <a id="chargephone"></a>
    </div>
    <div class="mui-input-row" style="border-bottom: solid 1px #EFEFF4">
        <label>施工单位</label>
        <a id="constructioncompany" ></a>
    </div>
    <div class="mui-input-row" style="border-bottom: solid 1px #EFEFF4">
        <label>单位负责人</label>
        <a id="sgapplycharge"></a>
    </div>
    <div class="mui-input-row" style="border-bottom: solid 1px #EFEFF4">
        <label>负责人联系电话</label>
        <a id="sgchargephone" ></a>
    </div>
    <div class="mui-input-row" style="border-bottom: solid 1px #EFEFF4" >
        <label>申请原因</label>
        <a id="applyreason"></a>
    </div>
    <div class="mui-input-row" style="border-bottom: solid 1px #EFEFF4">
        <label>施工详细地址</label>
        <a id="constructionaddress"  ></a>
    </div>
    <div style="text-align: center;background-color: #f6f6f6;height:40px;padding-top: 11px;border-bottom: solid 1px #e1e1e1;">挖掘面积</div>
    <div id="wjmj"  style="background-color: #EEE;">

    </div>

<!--    <div style="margin-top: 5% ;border-bottom: solid 1px #e1e1e1;height:40px">-->
<!--        <div style="margin-left: 3%;">-->
<!--            <div>施工时间-->
<!--            <a id="startTime" style="color: black;padding-left: 12%;margin: 4%;font-size: small"></a>至<a id="endTime"-->
<!--                                                                                                         style="color: black;padding-left: 10px;font-size: small">-->
<!--            </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div style="margin-top: 5% ;border-bottom: solid 1px #e1e1e1;height:40px;width:100%">
        <div style="margin-left: 3%; display: flex;">
            <div style="width:39%;">施工时间</div>
            <div id="startTime" style="font-size:15px;margin-left: 0px;"></div>
            <div style="width:8%;margin-left:2%;margin-right:1%">至</div>
            <div id="endTime" style="font-size:15px;float:right;margin-right: 4%"></div>
        </div>

        <!--        <div style="margin-left: 3%;">施工时间-->
        <!--            <a id="startTime" style="color: black;padding-left: 12%;margin: 4%;font-size: small"></a>至<a id="endTime"-->
        <!--                                                                                                         style="color: black;padding-left: 10px;font-size: small"></a>-->
        <!--        </div>-->
    </div>
    <div style="margin: 5px;">

    </div>


    <div class="mui-input-row">
        <div>交通安全实施设置平面设计图</div>
        <div class="picture-area mui-content-padded" id="enclosureurl">
        </div>
    </div>

    <div id="opt" class="mui-input-row" style="
    padding-bottom: 0px;
    padding-top: 0px;">

    </div>

    <div style="background-color: white;border-bottom: solid 1px #EFEFF4">
        <div style="padding-left: 4%;padding-right: 4%;padding-top: 4%;">验收意见</div>
        <textarea
                style="border-style:none;overflow:hidden;padding-left: 0px;padding-left: 4%;padding-right: 4%;padding-top: 4%;overflow: scroll;"
                class="mui-text-left" id="txt"
                maxlength="300" placeholder="请在此处输入验收意见" ></textarea>

        <p style="background-color: white;padding-left: 83%;"><span id="txtNum">0</span>/300</p>

    </div>
    <div class="mui-input-row">
        <div>添加照片</div>
        <div class="picture-area">
            <div id="addImg" style="padding-top: 10px;padding-left: 0px;">
                <div class="addImg1" style="display:flex;flex-wrap:wrap;padding-left: 0px;">
                </div>
            </div>
        </div>
    </div>

    <div class="mui-input-row">
        <div>验收人签字</div>
        <div id="signature"></div>
        <span id="clear" style="position: absolute; margin-top: -40px; right: 25px; color: blue;" >清除</span>
    </div>



    <!--按钮行-->
    <div class="bg-color-white" style="width:100%;padding: 30px 15px 15px 15px;">
        <button id="applyBtn" type="button" class="mui-btn btn-blue-big">验收完成</button>
    </div>
</div>

</body>

<script type="text/javascript" src="${Session.BASE_URL}js/mui.min.js"></script>
<script src="${Session.BASE_URL}js/mui.zoom.js"></script>
<script src="${Session.BASE_URL}js/mui.previewimage.js"></script>
<script type="text/javascript" src="${Session.BASE_URL}js/mui.picker.js"></script>
<script type="text/javascript" src="${Session.BASE_URL}js/mui.poppicker.js"></script>
<script type="text/javascript" src="${Session.BASE_URL}js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="${Session.BASE_URL}js/jSignature.js"></script>
<script type="text/javascript">
    mui.previewImage();

    var filepather = "";
    var status ="";
    mui.init({
        swipeBack: true //右滑关闭功能
    });

    function getQueryString(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        return null;
    }
    //初始化画布
    $(function () {
        var arguments = {
            'width': '100%',
            'height': '100%',
            'color':'#000',
            'lineWidth': '3',
            'background-color':'#F8F8F8'
        };
        $("#signature").jSignature(arguments)
    })


    $('#clear').click(function () {
        $("#signature").jSignature("reset");
    });


    /**
          * 将以base64的图片url数据转换为Blob
          */
    function convertBase64UrlToBlob(urlData){

        //去掉url的头，并转换为byte
        var bytes = window.atob(urlData.split(',')[1]);

        //处理异常,将ascii码小于0的转换为大于0
        var ab = new ArrayBuffer(bytes.length);
        var ia = new Uint8Array(ab);
        for (var i = 0; i < bytes.length; i++) {
            ia[i] = bytes.charCodeAt(i);
        }

        return new Blob( [ab] , {type : 'image/png'});
    }

    /**
          * 上传签名
          */
    function uploadJSignature() {

        var $sigdiv = $("#signature");
        var datapair = $sigdiv.jSignature("getData", "image");

        var data =  "data:" + datapair[0] + "," + datapair[1];

        // 使用formdata上传图片
        var formData = new FormData();
        //设置文件名
        var filename = new Date().getTime() + ".png";
        //添加图片Blob对象
        formData.append("file", convertBase64UrlToBlob(data) , filename);

        $.ajax({
            url : '${Session.BASE_URL}file/upload',
            type: 'post',
            data: formData,
            async: false,
            contentType: false,
            processData: false,
            success: function (result) {
                filepather = result.data[0].filepath;
            }
        })

    }

    var txt = document.getElementById("txt");
    var txtNum = document.getElementById("txtNum");
    txt.addEventListener("keyup", function () {
        txtNum.textContent = txt.value.length;
    })

    var sw = false;      //定义关闭的开关
    var txt = document.getElementById("txt");
    var txtNum = document.getElementById("txtNum");
    txt.addEventListener("keyup", function () {
        if (sw == false) {
            countTxt();
        }
    });
    txt.addEventListener("compositionstart", function () {
        sw = true;
    });
    txt.addEventListener("compositionend", function () {
        sw = false;
        countTxt();
    });

    function countTxt() {       //计数函数
        if (sw == false) {        //只有开关关闭时，才赋值
            txtNum.textContent = txt.value.length;
        }
    }

    $(function () {
        addNormalImg();
        //loadpunishcount();
    })

    var count = 0;
    var num = 0;

    /* 动态生成上传图片按钮（使用） */
    function addNormalImg() {
        var addimg = '<div  style="width:45%; position: relative;margin-bottom:10pxpadding-left: 0px;">' +
            '<form id="form' + (count + 1) + '" style="margin-top:10px; "><div id="needShow' + (count + 1) + '" onclick="testclick(this)" class="" style="display:none;padding-left: 0px;width:35px;background:url(${Session.BASE_URL}img/close.png) no-repeat;background-position: right;height:35px;position: absolute;top:-8px;right: -12px;"></div>'
            + '<div class="addImg-top" style="width: 100%;padding-left: 0px;"><div style="width:100%;padding-left: 0px;"> <div id="showfile' + (count + 1) + '" class="showfile" onclick="openfile(this)">' +
            '<img class="showFile' + (count + 1) + '" src="${Session.BASE_URL}img/add.png" data-url="" style="width: 112px;height: 77px;"></div></div><div style="width: 80%;height: 10%;padding-left: 0px;display: flex;flex-direction:row;justify-content:center;align-items:center;"><div style="width: 50%;height: 80%;display: flex;justify-content:center;align-items:center;padding-left: 0px;"><div style="display:none">' +
            '<input type="file"  size="1" id="modeFile' + (count + 1) + '" name="files" data-click="0" onchange="PreviewImg1(this)"></div></div></div></div></form></div>';


        $(".addImg1").append(addimg)
        count = count + 1;
    }

    //上传图片时模拟点击事件
    function openfile(obj) {
        console.log(obj)
        console.log(id)
        var id = (obj.parentElement.parentElement.lastElementChild.firstElementChild.firstElementChild.firstElementChild.id);
        var newid = '"#' + id + '"';

        console.log(newid)
        $("#" + id).click();
    }

    //删除图片
    function testclick(mine) {
        console.log($(mine).parent().parent().remove());
        num = num - 1;
        console.log("num=" + num)
    }

    function PreviewImg1(obj) {

        console.log(obj)
        console.log($(obj).val() + "=====================")
        console.log(obj)
        var newid = '"#' + obj.id + '"';


        var file = obj.files[0];
        console.log(obj);
        console.log(file);
        var filename = file.name;
        var s = filename.lastIndexOf(".");
        var ss = filename.substring(s + 1);

        if (ss == "mp4") {

        }
        console.log("file.size = " + file.size);  //file.size 单位为byte
        var id = obj.parentElement.parentElement.parentElement.parentElement.firstElementChild.firstElementChild.firstElementChild;
        id = id.className;


        var needshowid = obj.parentElement.parentElement.parentElement.parentElement.parentElement.firstElementChild;
        var reader = new FileReader();

        $("#" + needshowid.id).css("display", "block");
        //读取文件过程方法
        reader.onloadstart = function (e) {
            console.log("开始读取....");
        }
        reader.onprogress = function (e) {
            console.log("正在读取中....");
        }
        reader.onabort = function (e) {
            console.log("中断读取....");
        }
        reader.onerror = function (e) {
            console.log("读取异常....");
        }
        reader.onload = function (e) {
            console.log("成功读取....");
            console.log(id)
            var img = document.getElementsByClassName(id)[0];
            img.src = e.target.result;
            var formData = new FormData($("#form" + count)[0]);
            loadimg(formData);
            console.log($("#" + obj.id).attr("data-click"))
            if ($("#" + obj.id).attr("data-click") != 1) {
                addNormalImg();
            }

            $("#" + obj.id).attr("data-click", "1")//0

            //或者 img.src = this.result;  //e.target == this
        }

        reader.readAsDataURL(file)

    }

    //上传图片
    function loadimg(formData) {
        $.ajax({
            url : '${Session.BASE_URL}file/upload',
            type: 'post',
            data: formData,
            async: true,
            contentType: false,
            processData: false,
            success: function (result) {
                console.log(result)
                console.log(count)
                num = num + 1;
                console.log("num=" + num)
                var count1 = count - 1;
                if (result.code == "SUCCESS") {
                    $(".showFile" + count1).attr("data-url", result.data[0].filepath);
                }
            }
        })
    }


    $(".addImg-top").mousedown(function() {
        /* mui.alert('新增成功', '提示', function() {
            window.location.href="../info/mine";

        }); */
        timeout = setTimeout(function() {
            $("#mydiv").text("in");
        }, 2000);
    });



    function formatDate(date) {
        var now = new Date(date);
        var year = now.getFullYear();  //取得4位数的年份
        var month = now.getMonth() + 1;  //取得日期中的月份，其中0表示1月，11表示12月
        var date = now.getDate();      //返回日期月份中的天数（1到31）
        var hour = now.getHours();     //返回日期中的小时数（0到23）
        var minute = now.getMinutes(); //返回日期中的分钟数（0到59）
        var second = now.getSeconds(); //返回日期中的秒数（0到59）
        return year + "-" + month + "-" + date;
    }

    function dlcategory(value){
        if(value == 0){
            return "快速路" ;
        }else if(value == 1){
            return "主干路" ;
        }else if(value == 2){
            return "次干路" ;
        }else if(value == 3){
            return "支路" ;
        }


    }

    $(function(){
        var id = getQueryString("id");
        //加载信息
        mui.ajax('${Session.BASE_URL}process/mobileProcesscaseDetail',{
            data:{
                'id': id
            },
            timeout:10000,//超时时间设置为10秒；
            success:function(hr){
                if(hr.code == "SUCCESS") {

                    status = hr.data.processcase.status;
                    //值<-----
                    $('#applycompany').text(hr.data.processcase.applyunit);
                    $('#applycharge').text(hr.data.processcase.applyperson);
                    $('#chargephone').text(hr.data.processcase.applyphone);
                    $('#constructioncompany').text(hr.data.processcase.construcunit);
                    $('#sgapplycharge').text(hr.data.processcase.construcperson);
                    $('#sgchargephone').text(hr.data.processcase.construcphone);
                    $('#applyreason').text(hr.data.processcase.reason);
                    $('#constructionaddress').text(hr.data.processcase.address);
                    //----->
                    $('#startTime').text(formatDate(hr.data.processcase.construcstarttime));
                    $('#endTime').text(formatDate(hr.data.processcase.construcendtime));
                    var lengthArry = (hr.data.roadtypeList.length)
                    //获得前台的div
                    var insertDiv = document.getElementById("opt");
                    // 解析从服务器获得的数据,循环添加复选框
                    var chkDIV = '';
                    if(hr.data.roadtypeList!=null){
                        var html="";
                        for (let i = 0; i <lengthArry; i = i + 4) {
                            console.log(hr.data.roadtypeList)

                            html ='<div class="wjmj" style="border-bottom: 1px solid #d5d5d5">'
                                +'		<div style="padding: 5px;border-bottom: 1px solid #d5d5d5;display: flex">'
                                +'			<div style="margin-left: 1.9%;">道路类别</div>'
                                +'    		<div style="margin-left: 61%">'+ dlcategory(hr.data.roadtypeList[i + 3].type)+'</div>'
                                +'		</div>'
                                +'		<div style="width:100%;margin: 12px 0;display: flex">'
                                +'			<div style="padding-left:3%;width: 30%">机动车道</div>'
                                +'			<div style="width:22%">长<input class="lengArr" style="text-align: center" readonly  value="'+ hr.data.roadtypeList[i].leng +'" />m</div>'
                                +'			<div style="width:22%">宽<input class="widthArr" style="text-align: center" readonly value="'+ hr.data.roadtypeList[i].width +'"/>m</div>'
                                +'			<div>面积<input class="heightArr" style="text-align: center" readonly value="'+ hr.data.roadtypeList[i].height +'"/>m²</div>'
                                +'		</div>'
                                +'		<div style="width:100%;margin: 12px 0;display: flex">'
                                +'			 <div style="padding-left:3%;width: 30%">非机动车道</div>'
                                +'			<div style="width:22%">长<input class="lengArr" style="text-align: center" readonly value="'+ hr.data.roadtypeList[i+1].leng +'" />m</div>'
                                +'			<div style="width:22%">宽<input class="widthArr" style="text-align: center" readonly value="'+ hr.data.roadtypeList[i+1].width +'"/>m</div>'
                                +'			<div>面积<input class="heightArr" readonly style="text-align: center" value="'+ hr.data.roadtypeList[i+1].height +'"/>m²</div>'
                                +'		</div>'
                                +'		<div style="width:100%;margin: 12px 0;display: flex">'
                                +'			 <div style="padding-left:3%;width: 30%">人行道</div>'
                                +'			<div style = "width:22%">长<input class="lengArr" style="text-align: center" readonly value="'+ hr.data.roadtypeList[i+2].leng +'" />m</div>'
                                +'			<div  style = "width:22%">宽<input class="widthArr" style="text-align: center" readonly value="'+ hr.data.roadtypeList[i+2].width +'"/>m</div>'
                                +'			<div>面积<input class="heightArr" readonly style="text-align: center" value="'+ hr.data.roadtypeList[i+2].height +'"/>m²</div>'
                                +'		</div>'
                                +'		<div style="width:100%;margin: 12px 0;display: flex">'
                                +'			<div style="padding-left:3%;width: 30%">绿化带</div>'
                                +'			<div style="width:22%">长<input class="lengArr" style="text-align: center" readonly value="'+ hr.data.roadtypeList[i+3].leng +'" />m</div>'
                                +'			<div style="width:22%">宽<input class="widthArr" style="text-align: center" readonly value="'+ hr.data.roadtypeList[i+3].width +'"/>m</div>'
                                +'			<div>面积<input class="heightArr" style="text-align: center" readonly value="'+ hr.data.roadtypeList[i+3].height +'"/>m²</div>'
                                +'		</div>'
                                +'</div>'

                            $("#wjmj").append(html);
                        }

                    }



                    for (var i = 0; i < hr.data.optisproceList.length; i++) {
                        // if (result.data.processcase.trafficreal == 1) {
                        //     $("#passBtn").attr("disabled", false);
                        // }

                        if(hr.data.optisproceList[i].status==1){
                            chkDIV  +='<div class="mui-input-row" style="border-bottom: solid 1px #e1e1e1;padding-left: 0px;padding-right: 0px;">'+
                                '<div class="mui-pull-left" style="padding-left: 0;padding-right: 0;padding-top: 2%;">' +
                                '<div>'+ (i+1) +'、'+ hr.data.optisproceList[i].buttonname + '</div>' +
                                '<div style="padding-top: 5%;">' +
                                '<div class="mui-radio mui-pull-left" style="padding-right: 0;">' +
                                '<label style="padding-left: 10px;padding-right: 25px;padding-top: 6px;font-size: 16px;">有</label>' +
                                '<input  value="1" type="radio" checked style="left: 0">' +
                                '</div>' +
                                '<div class="mui-radio mui-pull-left" style="padding-right: 0;margin-left: 15px">' +
                                '<label style="padding-left: 10px;padding-right: 0px;padding-top: 6px;font-size: 16px;">无</label>' +
                                '<input value="0" type="radio" disabled style="left: 0;">' +
                                '</div>' +
                                '<div class="mui-radio mui-pull-left" style="padding-right: 0;margin-left: 35px">' +
                                '<label style="padding-left: 10px;padding-right: 0px;padding-top: 6px;font-size: 16px;">不需要</label>' +
                                '<input  value="-1" type="radio" disabled style="left: 0">' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>'+
                                '</div>';
                        }else if(hr.data.optisproceList[i].status==0){
                            chkDIV  +='<div class="mui-input-row" style="border-bottom: solid 1px #e1e1e1;padding-left: 0px;padding-right: 0px;">'+
                                '<div class="mui-pull-left" style="padding-left: 0;padding-right: 0;padding-top: 2%;">' +
                                '<div>' + (i+1) +'、'+ hr.data.optisproceList[i].buttonname + '</div>' +
                                '<div style="padding-top: 5%;">' +
                                '<div class="mui-radio mui-pull-left" style="padding-right: 0;">' +
                                '<label style="padding-left: 10px;padding-right: 25px;padding-top: 6px;font-size: 16px;">有</label>' +
                                '<input  value="1" type="radio" disabled  style="left: 0">' +
                                '</div>' +
                                '<div class="mui-radio mui-pull-left" style="padding-right: 0;margin-left: 15px">' +
                                '<label style="padding-left: 10px;padding-right: 0px;padding-top: 6px;font-size: 16px;">无</label>' +
                                '<input value="0" type="radio" checked style="left: 0;">' +
                                '</div>' +
                                '<div class="mui-radio mui-pull-left" style="padding-right: 0;margin-left: 35px">' +
                                '<label style="padding-left: 10px;padding-right: 0px;padding-top: 6px;font-size: 16px;">不需要</label>' +
                                '<input  value="-1" type="radio" disabled style="left: 0">' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>'+
                                '</div>';
                        }else {
                            chkDIV  +='<div class="mui-input-row" style="border-bottom: solid 1px #e1e1e1;padding-left: 0px;padding-right: 0px;">'+
                                '<div class="mui-pull-left" style="padding-left: 0;padding-right: 0;padding-top: 2%;">' +
                                '<div>'+ (i+1) +'、'+hr.data.optisproceList[i].buttonname + '</div>' +
                                '<div style="padding-top: 5%;">' +
                                '<div class="mui-radio mui-pull-left" style="padding-right: 0;">' +
                                '<label style="padding-left: 10px;padding-right: 25px;padding-top: 6px;font-size: 16px;">有</label>' +
                                '<input  value="1" type="radio" disabled style="left: 0">' +
                                '</div>' +
                                '<div class="mui-radio mui-pull-left" style="padding-right: 0;margin-left: 15px">' +
                                '<label style="padding-left: 10px;padding-right: 0px;padding-top: 6px;font-size: 16px;">无</label>' +
                                '<input value="0" type="radio" disabled style="left: 0;">' +
                                '</div>' +
                                '<div class="mui-radio mui-pull-left" style="padding-right: 0;margin-left: 35px">' +
                                '<label style="padding-left: 10px;padding-right: 0px;padding-top: 6px;font-size: 16px;">不需要</label>' +
                                '<input  value="-1" type="radio" checked style="left: 0">' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>'+
                                '</div>';
                        }

                        insertDiv.innerHTML =chkDIV;
                    }



                    //道路图片
                    if(hr.data.processcase.securitypic != null && hr.data.processcase.securitypic != '') {
                        var imgs = hr.data.processcase.securitypic.split(",");
                        var html="";
                        for(var i=0;i<imgs.length;i++){
                            if(imgs[i]!="" && imgs!=null){
                                html+='<p><img src="'+imgs[i]+'" style="width: 90px;height: 65px;margin-right: 16px;" data-preview-src="" data-preview-group="1"/></p>';
                            }
                        }
                        $("#enclosureurl").html(html);
                    }
                } else {
                    console.log(hr.msg);
                    mui.toast('没有找到相关信息');
                    /*  //关闭等待框
                     plus.nativeUI.closeWaiting();
                     //显示当前页面
                     mui.currentWebview.show("slide-in-right",300); */
                }
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });


    });

    //城管验收
    $("#applyBtn").click(function(){
        var txt1 = $("#txt").val();
        var pics1 = $(".addImg-top").find('img');
        if (txt1 == "" || txt1 == null) {
            mui.alert("请输入验收意见");
        } else if (pics1.length == 1) {
            mui.alert("请上传图片");
        } else if ($("#signature").jSignature("getData", "native").length == 0){
                mui.alert("请签名")
        }else {
            uploadJSignature();
            var id = getQueryString("id");
            var txt = $("#txt").val();
            console.log(txt)
            var pics = $(".addImg-top").find('img');
            console.log(pics.length)
            var uploadPic="";
            for(var i=0;i<pics.length-1;i++){
                uploadPic+=$(pics).eq(i).attr("data-url")+",";
            }
            uploadPic = uploadPic.substring(0 ,uploadPic.length-1);
            var data={
                checksign :filepather,
                checkpic:uploadPic,
                checkcontent:txt,
                flag:1,
                status:status,
                id:id
            }
            console.log(filepather);
            console.log(uploadPic);
            $.ajax({
                url : '${Session.BASE_URL}process/AuditProcess',
                type : 'post',
                data : data,
                success : function(result) {
                    console.log(result)
                    if(result.code=="SUCCESS"){
                        mui.openWindow({
                            url: '${Session.BASE_URL}api/v1/cgyslist'
                        });
                    }

                }
            })
        }



    });
</script>

</html>