<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>申请占道挖掘</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="${Session.BASE_URL}css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="${Session.BASE_URL}css/public-jinhuo.css" />
    <script type="text/javascript" src="${Session.BASE_URL}js/jquery-2.1.0.js" ></script>
</head>
<style>
    .mui-card-content,.mui-card-footer {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        padding: 10px 15px;
        -webkit-box-pack: justify;
        /*居右*/
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        /*相对居容器上*/
        -webkit-align-items:stretch;
        align-items: stretch
    }

    /*内容主体底部预留高度*/
    .mycontent {
        top: 0;
        bottom: 0px;
        position: absolute;
        width: 100%;
        overflow: auto;
    }

    * { touch-action: pan-y; }/*  解决移动端点击事件延迟 */
    .mui-card p {
        font-size: 13px;
        margin-bottom: 0;
        color: #333333;
    }
</style>

<body>

<!--<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">禁货处罚</h1>
</header>-->

<div class="mui-content mycontent">

    <div class="mui-slider mui-fullscreen" style="padding-bottom: 100px;">
        <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
        <div class="mui-slider-group">
            <!--未处理-->
            <div id="itemmobile1" class="mui-slider-item mui-control-content mui-active" style="border: 0;">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <div id="scroll"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--申请审批按钮-->
        <div style="height: 50px;width:100%;padding-left: 15px;padding-right: 15px;position: fixed;bottom: 0px;">
            <button id="applyBtn" type="button" class="mui-btn btn-blue-big">新增申请</button>
        </div>
    </div>

</div>


</body>
<script src="${Session.BASE_URL}js/mui.min.js"></script>
<script src="${Session.BASE_URL}js/mui.pullToRefresh.js"></script>
<script src="${Session.BASE_URL}js/mui.pullToRefresh.material.js"></script>
<script type="text/javascript">
    var pageNo_1 = 1;
    var pageSize = 10;

    mui.init({
        swipeBack: false
    });

    (function($) {
        $('.mui-scroll-wrapper').scroll({
            indicators: true //是否显示滚动条
        });

        $.ready(function() {
            //循环初始化所有下拉刷新，上拉加载。
            $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
                $(pullRefreshEl).pullToRefresh({
                    up: {
                        auto: true,//可选,默认false.首次加载自动上拉刷新一次
                        contentinit:'',
                        contentdown:'',
                        contentrefresh : "",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                        contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                        callback: function() {
                            var self = this;
                            setTimeout(function() {
                                //var ul = self.element.querySelector('.mui-table-view');
                                loadList(self);
                                //ul.appendChild(createFragment(ul, index, 5));
                                //self.endPullUpToRefresh();
                            }, 1000);
                        }
                    }
                });
            });
        });

    })(mui);



    function loadList(self){
        var	data ={
            pageNum:pageNo_1,
            pageSize:pageSize,
        }
        $.ajax({
            url:'${Session.BASE_URL}process/mobileConstrucDataList',
            type:'GET', //GET
            dataType:'json',
            data:data,
            success:function(result){
                console.log("------")
                console.log(result)
                var div = document.getElementById("scroll");
                div.appendChild(createFragment(result));

                pageNo_1=pageNo_1+1;

                if(result.data.length>0){
                    self.endPullUpToRefresh(false);
                }else{
                    self.endPullUpToRefresh(true);
                }
                /* $(".my-mui-table-view-cell").on("tap",function(){
                   var messageid=$(this).attr("data-messageid");
                    window.location.href="../message/messageDetail?messageid="+messageid;
                }) */
            }
        })
    }

    function createFragment(hr){
        var fragment = document.createDocumentFragment();
        var div;
        var list = hr.data;
        for (var i=0;i<list.length;i++){
            var construcstarttime = list[i].construcstarttime;
            construcstarttime = new Date(construcstarttime);
            var yearS = construcstarttime.getFullYear();
            var monthS = construcstarttime.getMonth()+1;
            var dateS = construcstarttime.getDate();

            //施工时间
            var construcendtime = list[i].construcendtime
            construcendtime = new Date(construcendtime);
            var yearE = construcendtime.getFullYear();
            var monthE = construcendtime.getMonth()+1;
            var dateE = construcendtime.getDate();

            div = document.createElement('div');
            div.className = 'mui-card';
            div.innerHTML =	'	<input value="'+list[i].id+'" hidden>'
                            +'  <input value="'+list[i].status+'" hidden>'
                            +'	<div class="mui-card-footer" style="padding: 15px 0 0 15px;" >'
                            +'		<div>'
                            +'		<span style="font-size: 13px;color: #000;" class="mui-pull-left">申请进度：&nbsp;&nbsp;</span>'
                            +'			<p class="mui-pull-left">'+ list[i].statusContent +'</p>'
                            +'		</div>'
                            +'	</div>'
                            +'	<div class="mui-card-footer" style="padding: 15px 0 0 15px;" >'
                            +'		<div>'
                            +'			<span style="color: #000;" class="mui-pull-left">施工地点：</span>'
                            +'			<p class="mui-pull-left">'+ list[i].address +'</p>'
                            +'		</div>'
                            +'	</div>'
                            +'	<div class="mui-card-footer" style="padding: 15px 0 0 15px;" >'
                            +'		<div>'
                            +'			<span style="color: #000;" class="mui-pull-left">施工时间：</span>'
                            +'			<p class="mui-pull-left">'+[yearS,monthS,dateS].join('-')+'至'+[yearE,monthE,dateE].join('-')+'</p>'
                            +'		</div>'
                            +'	</div>'
            fragment.appendChild(div);
        }
        return fragment;
    }
//页面跳转
    $("#applyBtn").click(function(){
        window.location.href="/jianhuzh/api/v1/applyPage";
    }) ;

    $(function() {
        $('.mui-content').on("click",".mui-card",function(e){
            var id = $(this).children('input:eq(0)').val();
            var status = $(this).children('input:eq(1)').val();
            console.log(id)
            console.log(status)
            mui.openWindow({
               // 跳转至填写申请页面
                url: '${Session.BASE_URL}api/v1/sbcl?id='+id +'&status=' + status
            });
        });
    });
</script>
</html>